@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-feature-settings:
    "ss01",
    "tnum",
    "wght" 100;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-feature-settings:
    "ss01",
    "tnum",
    "wght" 200;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-feature-settings:
    "ss01",
    "tnum",
    "wght" 300;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings:
    "ss01",
    "tnum",
    "wght" 400;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-feature-settings:
    "ss01",
    "tnum",
    "wght" 500;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-feature-settings:
    "ss01",
    "tnum",
    "wght" 600;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-wght.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
